@font-face {
  font-display: swap;
  font-family: 'untitled_sans_regular';
  src: url("../fonts/UntitledSans-Regular.woff2") format("woff2"), url("../fonts/UntitledSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-display: swap;
  font-family: 'untitled_serif_regular';
  src: url("../fonts/UntitledSerif-Regular.woff2") format("woff2"), url("../fonts/UntitledSerif-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-display: swap;
  font-family: 'untitled_sans_light';
  src: url("../fonts/UntitledSans-Light.woff2") format("woff2"), url("../fonts/UntitledSans-Light.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap; }
@font-face {
  font-display: swap;
  font-family: 'untitled_sans_bold';
  src: url("../fonts/UntitledSans-Bold.woff2") format("woff2"), url("../fonts/UntitledSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap; }
html,
body {
  height: 100%;
  width: 100%; }

body {
  font-family: 'untitled_sans_regular', sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #4A4A4A; }
  @media (min-width: 1024px) {
    body {
      font-size: 18px; } }

hr {
  border-color: #0587FF;
  border-width: 3px;
  max-width: 95px; }

hr.light {
  border-color: white; }

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #0587FF;
  outline: none; }
  a:hover, a:focus {
    color: #006dd1;
    outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'untitled_sans_regular', sans-serif; }

h1 {
  font-size: 2em;
  font-family: 'untitled_sans_regular', sans-serif; }
  @media (min-width: 769px) {
    h1 {
      font-size: 64px; } }

h2 {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-align: center; }
  @media (min-width: 1024px) {
    h2 {
      font-size: 32px;
      line-height: 40px;
      text-align: left; }
      h2.alt {
        font-size: 36px; } }
  h2.headline {
    font-family: 'untitled_serif_regular',serif; }

h3 {
  font-family: 'untitled_sans_bold', sans-serif; }

h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700; }

p {
  font-size: 19px;
  line-height: 32px;
  margin-bottom: 20px; }
  @media (min-width: 1024px) {
    p {
      font-size: 18px; } }

ul {
  padding-left: 15px; }

.bg-primary {
  background-color: #0587FF; }

.bg-dark {
  background-color: #102F52;
  color: white; }

.bg-dots {
  background-color: rgba(255, 255, 255, 0);
  background-image: url("../img/bg-dots.png"); }

.text-white {
  color: #ffffff; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

.text-muted {
  font-size: 12px; }

section {
  padding: 0; }
  @media (min-width: 1024px) {
    section {
      padding: 40px 0; } }

aside {
  padding: 50px 0; }

.no-padding {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }

@media (min-width: 1200px) {
  .more-padding {
    padding-top: 90px;
    padding-right: 0px;
    padding-bottom: 90px;
    padding-left: 0px; } }

.list-group {
  margin-bottom: 0; }
  .list-group .list-group-item {
    border-width: 0;
    min-height: 50px; }
    .list-group .list-group-item img {
      margin-right: 20px; }
    .list-group .list-group-item .list-group-item-text {
      font-size: 16px;
      line-height: 24px;
      padding-right: 20px; }

.top-50 {
  margin-top: 50px; }

.top-25 {
  margin-top: 25px; }

.bottom-50 {
  margin-bottom: 50px; }

.bottom-25 {
  margin-bottom: 25px; }

.btn-block {
  display: none; }
  @media (min-width: 1200px) {
    .btn-block {
      display: block;
      text-align: left;
      padding-bottom: 0; } }
  .btn-block.mobile {
    display: block;
    padding: 20px 10px;
    background-color: #ffffff;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 20;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1); }

.topped {
  opacity: 0;
  z-index: -10;
  transition: opacity .2s ease-out; }

@media (min-width: 1024px) {
  .fixed-cta {
    display: none; } }

.caption-block {
  padding: 0 25px;
  text-align: justify; }
  @media (min-width: 1024px) {
    .caption-block {
      font-size: 20px;
      line-height: 32px;
      max-width: 65%;
      padding-right: 20px;
      padding-left: 20px;
      margin-left: auto;
      margin-right: auto; } }

.outline-block {
  border: 1px solid #E0DADA;
  box-sizing: border-box;
  background-color: #ffffff; }

.navbar-default {
  background-color: white;
  border-color: rgba(16, 47, 82, 0.5);
  border-width: 0;
  font-family: 'untitled_sans_regular', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); }
  .navbar-default .navbar-notice {
    padding-top: 0px;
    padding-left: 0px; }
  .navbar-default .navbar-header > .navbar-brand, .navbar-default .navbar-right > .navbar-brand {
    margin-top: 10px;
    height: auto; }
  .navbar-default .navbar-brand {
    padding: 8px; }
    @media (max-width: 480px) {
      .navbar-default .navbar-brand.hidden-lg {
        width: 176px;
        margin-top: 0; } }
  .navbar-default .navbar-toggle {
    border-width: 0; }
    .navbar-default .navbar-toggle:hover {
      background-color: rgba(255, 255, 255, 0); }
    .navbar-default .navbar-toggle .icon-bar {
      width: 36px; }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    font-size: 16px;
    color: #0587FF;
    outline: none; }
    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {
      color: #0587FF; }
  .navbar-default .nav > li.active > a,
  .navbar-default .nav > li.active > a:focus {
    color: #0587FF !important;
    background-color: transparent; }
    .navbar-default .nav > li.active > a:hover,
    .navbar-default .nav > li.active > a:focus:hover {
      background-color: transparent; }
  .navbar-default .nav.navbar-nav {
    float: none;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center; }
    .navbar-default .nav.navbar-nav > li {
      float: none;
      display: inline-block;
      padding-bottom: 0px; }
      .navbar-default .nav.navbar-nav > li > a {
        padding-bottom: 0px; }
  @media (min-width: 769px) {
    .navbar-default {
      min-height: 85px; }
      .navbar-default .nav > li > a,
      .navbar-default .nav > li > a:focus {
        color: rgba(0, 0, 0, 0.7); }
      .navbar-default.affix {
        background-color: white;
        border-color: rgba(16, 47, 82, 0.5); }
        .navbar-default.affix .navbar-header .navbar-brand, .navbar-default.affix .navbar-notice {
          color: #000000; }
          .navbar-default.affix .navbar-header .navbar-brand a, .navbar-default.affix .navbar-notice a {
            color: #000000; }
        .navbar-default.affix .nav > li > a,
        .navbar-default.affix .nav > li > a:focus {
          color: #102F52; }
          .navbar-default.affix .nav > li > a:hover,
          .navbar-default.affix .nav > li > a:focus:hover {
            color: #0587FF; } }

header {
  position: relative;
  width: 100%;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #102F52;
  background-position: center 50px;
  background-image: url("../img/blackout_homefront_homes-in-a-row.jpg");
  text-align: center;
  color: white; }
  @media (min-width: 769px) {
    header {
      background-size: 100% auto;
      background-position-y: top;
      margin-top: 85px; } }
  header .header-content {
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 80px; }
    header .header-content .header-content-inner h1 {
      margin-top: 0;
      margin-bottom: 190px; }
      @media (min-width: 769px) {
        header .header-content .header-content-inner h1 {
          font-size: 46px !important;
          margin-top: 40px; } }
    header .header-content .header-content-inner p {
      font-weight: 300;
      font-size: 20px;
      margin-bottom: 50px; }
    @media (max-width: 768px) {
      header .header-content .header-content-inner .embed-responsive-16by9 {
        min-height: 740px;
        overflow-y: hidden; } }
    @media (min-width: 769px) {
      header .header-content {
        padding: 100px 15px 100px; } }
  @media (min-width: 769px) {
    header {
      min-height: 100%; }
      header .header-content {
        padding: 60px 15px 20px; }
        header .header-content .header-content-inner {
          max-width: 1000px;
          margin-left: auto;
          margin-right: auto; }
          header .header-content .header-content-inner p {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto; }
          header .header-content .header-content-inner .embed-responsive-16by9 {
            min-height: 600px; }
      header .sunrun-stats-block {
        height: 320px; }
        header .sunrun-stats-block h4 {
          font-size: 50px;
          margin: 154px 0 14px 0; }
        header .sunrun-stats-block p {
          font-size: 14px;
          letter-spacing: 0.02em; }
        header .sunrun-stats-block hr {
          background-color: #fff;
          border-style: none;
          color: #fff;
          height: 1px;
          left: 100%;
          margin-left: -40px;
          position: absolute;
          top: 81px;
          width: 95px; }
        header .sunrun-stats-block .sunrun-at-glance {
          background-image: url("../img/sunrun-at-a-glance2.svg");
          background-repeat: no-repeat;
          background-position-x: left;
          background-position-y: top;
          background-size: auto auto;
          height: 100%;
          padding-top: 110px; } }
      @media (min-width: 769px) and (min-width: 990px) {
        header .sunrun-stats-block .sunrun-at-glance {
          background-position-x: 60px; } }
  @media (min-width: 769px) {
          header .sunrun-stats-block .sunrun-at-glance p {
            margin: 0 0 0 60px;
            text-align: left;
            width: 198px; }
        header .sunrun-stats-block .stat-icon-block {
          background-position: center 49px;
          background-repeat: no-repeat;
          min-width: 201px;
          position: relative; }
          header .sunrun-stats-block .stat-icon-block h4 {
            font-family: 'untitled_sans_light', sans-serif;
            color: #0587FF;
            font-weight: 100; }
          header .sunrun-stats-block .stat-icon-block p {
            text-transform: uppercase; }
          header .sunrun-stats-block .stat-icon-block.foam-finger {
            background-image: url("../img/foam-finger2.svg");
            background-size: 51px 83px; }
            header .sunrun-stats-block .stat-icon-block.foam-finger hr {
              margin-left: -55px; }
          header .sunrun-stats-block .stat-icon-block.people {
            background-image: url("../img/people2.svg");
            background-size: 87px 60px; }
          header .sunrun-stats-block .stat-icon-block.google-pin {
            background-image: url("../img/google-pin-white2.svg");
            background-size: 47px 67px; }
        header .sunrun-stats-block .text-muted {
          margin-bottom: 10px;
          margin-top: 20px;
          font-size: 12px; } }
  header .stats-block-mobile {
    background-image: url("../img/sunrun-at-a-glance2.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 227px 109px;
    height: 500px; }
    header .stats-block-mobile .mission {
      position: absolute;
      bottom: 50px;
      margin: 0 34px;
      text-align: center; }
    header .stats-block-mobile .carousel-inner {
      min-height: 300px; }
      header .stats-block-mobile .carousel-inner .item .carousel-caption {
        top: 90px; }
        header .stats-block-mobile .carousel-inner .item .carousel-caption h4 {
          font-family: 'untitled_sans_light',sans-serif;
          font-size: 90px;
          margin: 0;
          color: #0587FF;
          text-align: center; }
        header .stats-block-mobile .carousel-inner .item .carousel-caption p {
          font-family: 'untitled_serif_regular',serif;
          font-size: 18px;
          text-transform: uppercase;
          color: #fff; }
      header .stats-block-mobile .carousel-inner .item img {
        opacity: 0;
        width: 100%;
        line-height: 1; }
    header .stats-block-mobile .carousel-control {
      color: #fff;
      background-image: none; }
      header .stats-block-mobile .carousel-control.left .carousel-control-icon {
        background-image: url("../img/left-carousel-control-white.svg");
        left: 0; }
      header .stats-block-mobile .carousel-control.right .carousel-control-icon {
        background-image: url("../img/right-carousel-control-white.svg");
        right: 0; }
      header .stats-block-mobile .carousel-control .carousel-control-icon {
        position: absolute;
        height: 45px;
        width: 25px;
        top: 45%;
        background-position: center center;
        background-size: auto 100%; }

.section-heading {
  margin-top: 0; }

#solar-benefits ul li {
  margin-bottom: 30px; }
#solar-benefits .text-muted {
  font-size: 12px; }
#solar-benefits .column-bg {
  background-image: url("../img/aerial_suburban_summer_evening-flipped.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 320px; }
  @media (min-width: 1024px) {
    #solar-benefits .column-bg {
      padding-top: 0;
      background-position: right top;
      background-size: 50% auto; } }

#products .top-bg .list-group .list-group-item {
  background-repeat: no-repeat;
  background-size: 41px auto;
  background-position: left 15px;
  padding-left: 60px; }
  #products .top-bg .list-group .list-group-item .list-group-item-text {
    max-width: 560px; }
  #products .top-bg .list-group .list-group-item.no-icon {
    padding-left: 15px; }
#products .bottom-bg {
  background-color: #060918;
  background-image: url("../img/blackout_homefront_cul-de-sac-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left -120px;
  min-height: 644px; }
  #products .bottom-bg h2 {
    margin-bottom: 310px; }
  @media (min-width: 768px) {
    #products .bottom-bg {
      min-height: 500px;
      background-image: url("../img/blackout_homefront_cul-de-sac.jpg");
      background-size: 100% auto;
      background-position: left top; }
      #products .bottom-bg h2 {
        margin-top: 60px;
        margin-bottom: 0; } }
  #products .bottom-bg .list-group {
    margin-left: 30px; }
    #products .bottom-bg .list-group .list-group-item {
      background-color: rgba(0, 0, 0, 0);
      border-color: rgba(0, 0, 0, 0);
      background-repeat: no-repeat;
      background-size: 32px auto;
      background-position: left 10px;
      padding-left: 60px; }
      #products .bottom-bg .list-group .list-group-item.no-icon {
        padding-left: 15px; }
  #products .bottom-bg .text-muted {
    margin-top: 20px;
    margin-bottom: 10px; }
@media (min-width: 1024px) {
  #products {
    background-color: #F6F6F6; } }

#what-to-expect h2 {
  margin-bottom: 10px; }
#what-to-expect p {
  padding-right: 35px; }

#guarantee {
  background-color: #F8F8F8; }

#customer-stories .quote {
  padding: 40px; }
  #customer-stories .quote .signature {
    font-size: 16px;
    line-height: 24px; }

#form2 {
  background-color: #001A3C;
  color: #ffffff; }
  #form2 .form-content {
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 100px; }
    #form2 .form-content .form-content-inner h1 {
      margin-bottom: 190px;
      margin-top: 40px; }
      @media (min-width: 769px) {
        #form2 .form-content .form-content-inner h1 {
          font-size: 46px !important;
          margin-top: 0; } }
    #form2 .form-content .form-content-inner p {
      font-weight: 300;
      font-size: 20px;
      margin-bottom: 50px; }
    @media (max-width: 768px) {
      #form2 .form-content .form-content-inner .embed-responsive-16by9 {
        min-height: 740px;
        overflow-y: hidden; } }
    @media (min-width: 769px) {
      #form2 .form-content {
        padding: 100px 15px 100px; } }
  @media (min-width: 769px) {
    #form2 {
      min-height: 100%; }
      #form2 .form-content {
        padding: 60px 15px 20px; }
        #form2 .form-content .form-content-inner {
          max-width: 1000px;
          margin-left: auto;
          margin-right: auto; }
          #form2 .form-content .form-content-inner p {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto; }
          #form2 .form-content .form-content-inner .embed-responsive-16by9 {
            min-height: 600px; } }

footer h3 {
  margin-top: 10px; }
footer p {
  font-size: 14px;
  line-height: 24px;
  max-width: 234px; }
footer .seo-footer__states {
  color: #0073E0;
  border-style: solid;
  border-width: 1px 0;
  padding: 10px 15px;
  height: 40px; }
footer .sr-footer {
  padding-top: 30px;
  font-family: "untitled_sans_regular",sans-serif;
  font-size: 15px; }
  @media only screen and (min-width: 1025px) {
    footer .sr-footer {
      border-top: 1px solid #0073E0;
      padding-bottom: 80px; } }
  footer .sr-footer .nav-justified > li {
    width: auto; }
    footer .sr-footer .nav-justified > li a:hover {
      color: #01193F;
      background-color: rgba(255, 255, 255, 0); }
  footer .sr-footer .footer-social {
    font-size: 18px;
    margin: 0 0 0 50px;
    text-align: right; }
    footer .sr-footer .footer-social .social-icon {
      margin-right: 5px; }
  footer .sr-footer .copyright {
    text-align: right; }
    footer .sr-footer .copyright p {
      font-size: 12px;
      line-height: 12px;
      font-family: "untitled_sans_light", sans-serif;
      max-width: none;
      padding: 0;
      margin-bottom: 10px; }
    footer .sr-footer .copyright .list-inline li {
      border-right: 1px solid #9D9FA1;
      padding-left: 2px;
      padding-right: 7px;
      height: 12px; }
      footer .sr-footer .copyright .list-inline li:last-of-type {
        border-color: rgba(255, 255, 255, 0); }
      footer .sr-footer .copyright .list-inline li a {
        line-height: 12px;
        font-size: 12px;
        color: #9D9FA1;
        vertical-align: top; }

.text-primary {
  color: #000000; }

.btn-cta {
  background: #00ADE6;
  color: white; }
  .btn-cta:hover {
    background: #5a9254;
    color: white; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.btn-default {
  color: #102F52;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }
  .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle .btn-default {
    color: #102F52;
    background-color: #f2f2f2;
    border-color: #ededed; }
  .btn-default:active, .btn-default.active, .open > .dropdown-toggle .btn-default {
    background-image: none; }
  .btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    background-color: white;
    border-color: white; }
  .btn-default .badge {
    color: white;
    background-color: #102F52; }

.btn-primary {
  color: white;
  background-color: #0587FF;
  border-color: #102F52;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle .btn-primary {
    color: white;
    background-color: #007aeb;
    border-color: #0a1e34; }
  .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle .btn-primary {
    background-image: none; }
  .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #0587FF;
    border-color: #102F52; }
  .btn-primary .badge {
    color: #0587FF;
    background-color: white; }

.btn {
  font-family: 'untitled_sans_regular', Arial, sans-serif;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 0;
  text-decoration: none;
  transition: background 0.2s ease-out; }

.btn-xl {
  padding: 15px 30px; }

#contact .fa {
  color: #102F52;
  font-size: 4em; }

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #102F52; }

::selection {
  color: white;
  text-shadow: none;
  background: #102F52; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  -webkit-tap-highlight-color: #102F52; }

@media (min-width: 1200px) {
  .container {
    width: 1280px; } }

@media (min-width: 1200px) {
  .row.sides-15 {
    margin-left: 15px;
    margin-right: 15px; } }
